#DIV_1 {
    block-size: 640.575px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 640.575px;
    inline-size: 301.05px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 12px;
    margin-block-start: 12px;
    margin-inline-end: 12px;
    margin-inline-start: 12px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 150.525px 320.288px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 150.525px 320.288px;
    width: 301.05px;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    margin: 12px;
    outline: rgb(34, 34, 34) none 0px;
    transition: all 0.3s ease 0s;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    block-size: 450.575px;
    border-block-end-color: rgb(243, 243, 243);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(243, 243, 243);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(243, 243, 243);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(243, 243, 243);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    height: 450.575px;
    inline-size: 301.05px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 150.525px 225.288px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 150.525px 225.288px;
    width: 301.05px;
    border: 1px solid rgb(243, 243, 243);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_2:before*/

#A_3 {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_3*/

#A_3:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_3:after*/

#A_3:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_3:before*/

#IMG_4 {
    block-size: 448.575px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    cursor: pointer;
    height: 448.575px;
    inline-size: 299.05px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    object-fit: cover;
    perspective-origin: 149.525px 224.288px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 149.525px 224.288px;
    vertical-align: middle;
    width: 299.05px;
    z-index: 2;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
    transition: all 0.3s ease 0s;
}/*#IMG_4*/

#IMG_4:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    cursor: pointer;
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#IMG_4:after*/

#IMG_4:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    cursor: pointer;
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#IMG_4:before*/

#DIV_5 {
    align-items: flex-start;
    block-size: 190px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: flex;
    height: 190px;
    inline-size: 301.05px;
    padding-block-end: 15px;
    padding-block-start: 15px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 150.525px 95px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 150.525px 95px;
    width: 301.05px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    overflow: auto;
    padding: 15px 12px;
}/*#DIV_5*/

#DIV_5:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_5:before*/

#A_6 {
    block-size: 17.6px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    display: block;
    height: 17.6px;
    inline-size: 277.05px;
    margin-block-end: 5px;
    margin-block-start: 5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 138.525px 8.8px;
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 138.525px 8.8px;
    width: 277.05px;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    margin: 5px 0px;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_6*/

#A_6:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_6:after*/

#A_6:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_6:before*/

#H5_7 {
    block-size: 17.6px;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-box;
    height: 17.6px;
    inline-size: 277.05px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 138.525px 8.8px;
    text-overflow: ellipsis;
    text-size-adjust: 100%;
    transform-origin: 138.525px 8.8px;
    width: 277.05px;
    font: 14px / 18.2px PTSans-Bold, sans-serif;
    margin: 0px;
    overflow: hidden;
}/*#H5_7*/

#H5_7:after {
    cursor: pointer;
    text-size-adjust: 100%;
    font: 14px / 18.2px PTSans-Bold, sans-serif;
}/*#H5_7:after*/

#H5_7:before {
    cursor: pointer;
    text-size-adjust: 100%;
    font: 14px / 18.2px PTSans-Bold, sans-serif;
}/*#H5_7:before*/

#A_8 {
    block-size: 36px;
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    box-sizing: border-box;
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    display: block;
    height: 36px;
    inline-size: 277.05px;
    margin-block-end: 5px;
    margin-block-start: 5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 138.525px 18px;
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    transform-origin: 138.525px 18px;
    width: 277.05px;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    margin: 5px 0px;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_8*/

#A_8:after {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_8:after*/

#A_8:before {
    border-block-end-color: rgb(40, 40, 40);
    border-block-start-color: rgb(40, 40, 40);
    border-inline-end-color: rgb(40, 40, 40);
    border-inline-start-color: rgb(40, 40, 40);
    caret-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
    column-rule-color: rgb(40, 40, 40);
    text-decoration: none solid rgb(40, 40, 40);
    text-size-adjust: 100%;
    border: 0px none rgb(40, 40, 40);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(40, 40, 40) none 0px;
}/*#A_8:before*/

#H5_9 {
    block-size: 36px;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-box;
    height: 36px;
    inline-size: 277.05px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    min-block-size: 36px;
    min-height: 36px;
    perspective-origin: 138.525px 18px;
    text-overflow: ellipsis;
    text-size-adjust: 100%;
    transform-origin: 138.525px 18px;
    width: 277.05px;
    font: 14px / 18.2px PTSans-Bold, sans-serif;
    margin: 0px;
    overflow: hidden;
}/*#H5_9*/

#H5_9:after {
    cursor: pointer;
    text-size-adjust: 100%;
    font: 14px / 18.2px PTSans-Bold, sans-serif;
}/*#H5_9:after*/

#H5_9:before {
    cursor: pointer;
    text-size-adjust: 100%;
    font: 14px / 18.2px PTSans-Bold, sans-serif;
}/*#H5_9:before*/

#H4_10 {
    block-size: 38.4px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: -webkit-box;
    height: 38.4px;
    inline-size: 277.05px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 0px;
    margin-block-start: 10px;
    min-block-size: 36px;
    min-height: 36px;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 138.525px 19.2px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-overflow: ellipsis;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 138.525px 19.2px;
    width: 277.05px;
    z-index: 100;
    border: 0px none rgb(34, 34, 34);
    font: 14px / 19.6px PTSans-Regular, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
}/*#H4_10*/

#H4_10:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 14px / 19.6px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#H4_10:after*/

#H4_10:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 14px / 19.6px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#H4_10:before*/

#DIV_11 {
    block-size: 38px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: flex;
    height: 38px;
    inline-size: 277.05px;
    justify-content: space-between;
    min-block-size: 38px;
    min-height: 38px;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 138.525px 19px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 138.525px 19px;
    width: 277.05px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_11*/

#DIV_11:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_11:before*/

#DIV_12 {
    align-items: center;
    block-size: 38px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: flex;
    height: 38px;
    inline-size: 76.7px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 38.35px 19px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 38.35px 19px;
    width: 76.7px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_12*/

#DIV_12:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_12:after*/

#DIV_12:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_12:before*/

#H5_13 {
    block-size: 13.6px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    height: 13.6px;
    inline-size: 76.7px;
    margin-block-end: 0px;
    margin-block-start: 10px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 38.35px 6.8px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 38.35px 6.8px;
    width: 76.7px;
    border: 0px none rgb(34, 34, 34);
    font: 700 14px / 14px PTSans-Regular, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#H5_13*/

#H5_13:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(34, 34, 34);
    font: 700 14px / 14px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#H5_13:after*/

#H5_13:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(34, 34, 34);
    font: 700 14px / 14px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#H5_13:before*/

#DIV_14 {
    align-items: center;
    block-size: 38px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    box-sizing: border-box;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: flex;
    height: 38px;
    inline-size: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 0px 19px;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 0px 19px;
    width: 0px;
    border: 0px none rgb(34, 34, 34);
    flex-flow: row wrap;
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_14*/

#DIV_14:after {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_14:after*/

#DIV_14:before {
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    border: 0px none rgb(34, 34, 34);
    font: 16px / 16px PTSans-Regular, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#DIV_14:before*/

body {
    margin: 0 0 40px 0;
    background-color: #f6f6f6;
    font-family: 'Proxima-Nova', sans-serif;
}

h2 {
    margin: 150px 0 0 60px;
}

img {
    width: 300px;
    clip-path: circle(40%);
    margin: -40px;

}

a {
    padding: 7px 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #696969;
    cursor: pointer;
    /* background-color: red; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: auto;
    /* background-color: red; */
}

.item {
    width: 240px;
    min-height: 200px;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 7%);
    margin-top: 40px;
}

p.name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.00735em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

p.info {
    color: #696969;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bottom {
    width: 100%;
    min-height: 30px;
    background-color: white;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.button {
    color: #51267d;
    background-color: #51267d1c;
    padding: 10px 25px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
}

.header {
    width: 100%;
    min-height: 70px;
    background-color: white;
    position: fixed;
    margin-top: -150px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.096);
    z-index: 100;
}

.menubutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 70px;
    margin: 0 70px;
}

.logo {
    height: 60px;
    margin: 0 -150px 0 -120px;
}

.menu {
    text-decoration: none;
}
